body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d0c54;
}
.spinner{
    height: 50px;
    width:50px;
    border: 2px solid;
    border-color: white transparent;
    border-radius: 50%;
    animation: spin .7s linear infinite;
}

@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}